/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings
h1 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  align-items: center;
  float: left;
  display: flex;
  padding-bottom: 100px;
} */
#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display:inline-block;
  margin-left: 40%; /* this is ridiculous, but I could not get the header to align in any other way*/
}

h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display:inline-block;
}

header h1{
  float: left;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

#about{
  align-items: center;
  padding-bottom: 100px;
}

#about div img{
  float: left;
}

#about h3{
  text-align: center;
}

#about-text p, ul{
  text-align: left;
  margin-left: 275px;
}

.background{
  margin-top: 50px;
}


/* portfolio section */
#portfolio{
  display: flexbox;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  vertical-align: top;
}
.portfolio-items{
  display: flex;
  flex-direction: row;
  padding: 10px;
  vertical-align:text-top;
}

.portfolio-items img{
  padding: 20px;
  vertical-align: top;
  align-self: flex-start;
}

.portfolio-items > div {
   vertical-align: top;
}


article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */

a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav {
  display: inline;
  padding-top: 100px;
}

/* padding needs to stay the same for these elements to be aligned. */
nav a {
  padding-left: 20px;
  float: right;
  padding-top: 35px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}